obj/
.vscode/
Thumbs.db
backup
.htaccess_1
.crossdomain.xml.swp
testdb/ 
changed-unterlagen
sag-akademie.de/templates/
sag-akademie.de/files/
sag-akademie.de/pdf/
sag-akademie.de/resources/cache
sag-akademie.de/resources/pdf
sag-akademie.de/resources/sessions
sag-akademie.de/downloads/
sag-akademie.de/img/
sag-akademie.de/log/
sag-akademie.de/resources/log/
sag-akademie.de/settings/org.eclipse.mylyn.tasks.ui.prefs
sag-akademie.de/.idea/
mysql/tmp
mysql/*.tar.gz

/bin/need.ym
/bin/beta-20181116.yml
/sag-akademie.de/templates/emails/buchung_bestandskunde.xml
/administration/.hgtags
/administration/.project
