/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: Verdana;
	advancedAntiAliasing: false;
	
	font-size: 9;
	content-background-color: #CACACA;
	content-background-alpha: 1.0;
}





	