/* 
    Document   : homepage
    Created on : Apr 28, 2011, 4:38:02 PM
    Author     : cholzberger
    Description:
        Purpose of the stylesheet follows.
*/
@import url(/app/shared/css-core/iframe-main.css);
@import url(/app/shared/css-lib/all.css);

#switchContainer {
	width: 100%;
	height: 100%;
	margin-top: 28px !important;
}

#borderContainer {
	width: 100%;
	height: 100%;
	padding-top: 0 !important;
}

