@import url(/app/shared/css-core/iframe-main.css);
@import url(/app/shared/css-lib/all.css);

#borderContainer {
	width: 100%;
	height: 100%;
}

#flexKalender {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#flexKalenderToolbar {
	height: 15px !important;
}

.fkYear {
    margin-right: 5px;
}