* {
	font-size: 11pt !important;
	font-family: verdana;
}
/* versteckte elemente beim drucken */
.noPrint,
#mCompleteLoading,
#mCompleteContainerClose,
#navigation,
a,
.ui-datepicker-trigger,
.ui-ribbon-group,
.widget-searchbox,
.widget-container {
	display: none;
	visibility: hidden;
}

/* schriftgroesse formatierung etc. */

h2, h3 {
	font-size: 14pt !important;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
}

h1 {
	font-size: 16pt !important;
	border-bottom: 1px solid black;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
}

.label {
	font-size: 12pt;
	width: 4cm !important;
	display: block;
	float: left;
	padding-left: 0.2cm;
}

textarea {
	border: 0px solid black;
	width: 12cm !important;
	height: 5cm !important;
}

input {
	border: 0px solid white !important;
	width: 6cm;
	font-size: 12pt;
}

.c33, .c66, .c50 {
	width: 100% !important;
	display: block;
}

.quicklistContainer {
	padding-left: 0.2cm;
}

.quicklistItem {
	border-bottom: 1px solid black;
	padding-bottom: 0.1cm;
	padding-top: 0.1cm;
	font-size: 9pt !important;
}

.quicklistItem div,
.quicklistItem div b {
		font-size: 9pt !important;
}