html {
	color: #000;
	background: #FFF;
}

html, body, div, form, h1, h3, h4, h5, h6, p, table, ol, ul, li, iframe, label {
	margin: 0px;
	padding: 0px;
}

a, a:link, a:visited {
	color: #468;
}

a:hover, a:active {
	color: #69c;
}

abbr {
	border: none;
}

h1, h3, h4, h5, h6, p {
	padding: 3px 0px 2px 0px;
}

td {
	padding: 1px 2px;
}

table table {
	font-size: 1em;
}

h1, h3, h4, h5, h6 {
	color: #012;
}

ol, ul, dl {
	margin-left: 2em;
}

ol li {
	list-style-position: outside;
}

ul li {
	list-style-position: outside;
}

dl dd {
	margin-left: 1em;
}

